[Unit]
Description=Path Planning algorithm
#Definition=
Requires=swarmcontrol.service
After=swarmcontrol.service

[Service]
User=sparky
#ExecStartPre=/bin/sleep 25
ExecStart=/bin/bash $HOME/semiautomated-swarm/scripts/flighttest2.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
