[Unit]
Description=start mavros node

[Service]
User=root
WorkingDirectory=/home/r5-luke/
ExecStart=/home/r5-luke/launch_mavros.sh
Restart=always

[Install]
WantedBy=multi-user.target