[Unit]
Description=Serial Link
#Definition=
Requires=mavproxy.service
After=mavproxy.service

[Service]
ExecStart=/home/$USER/SeriaLink/build/SeriaLink
Restart=on-failure

[Install]
WantedBy=multi-user.target
