[Unit]
Description=Serial Link
#Definition=
Requires=mavproxy.service
After=mavproxy.service

[Service]
ExecStart=$HOME/semiautomated-swarm/SeriaLink/build/SeriaLink
Restart=on-failure

[Install]
WantedBy=multi-user.target
